body {
  font-family: "Open Sans", sans-serif;
  background: #a11650;
  display: flex;
}
div {
  border-radius: 4px;
}
input {
  border-radius: 8px;
  background-color: #cacbeb;
}

#container {
  margin: auto;
  background: teal;
  height: 420px;
  width: 350px;
  align-content: center;
}
#serviceQual{
  padding-left: 15px;
  padding-right: 15px;
}
p {
  color: white;
}

h1 {
  color: white;
}
/*#topnav {
  background-color: #333;
  overflow: hidden;
  height: 50px;
}*/

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

#container div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  overflow: hidden;
}
li {
  display: inline-block;
}

#header {
  background-color: black;
  background-position: center;
  text-align: center;
}

#head {
  justify-content: center;
}

.switch {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

#calculate {
  height: 20px;
  width: 250px;
  background-color: #5cdb35;
  text-decoration-color: white;
  border-radius: 8px;
}
#calculate:hover {
  height: 25px;
  width: 255px;
  background-color: #53a5db;
  transition-duration: 450ms;
}
