body {
  font-family: "Open Sans", sans-serif;
  background: #a11650;
  display: flex;
  align-items: center;
}
div {
  border-radius: 8px;
}
input {
  border-radius: 8px;
  background-color: #cacbeb;
}

#container {
  margin: auto;
  background: teal;
  height: 400px;
  width: 350px;
  align-content: center;
}

p {
  color: white;
}

h1 {
  color: white;
}

#header {
  background-color: black;
  text-align: center;
}

.switch {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

#calculate {
  height: 20px;
  width: 250px;
  background-color: #cacbeb;
  text-decoration-color: white;
  border-radius: 8px;
}
#calculate:hover {
  height: 25px;
  width: 255px;
  background-color: #1884ba;
  transition-duration: 500ms;
}
